.wrapper
  
= render 'devise/shared/side_bar'

.contents
  .header
    .header__left-box
      .header__left-box__group
        = @group.name
      .header__left-box__member
        members:
        = @users.pluck(:name).join(",")
    .header__btn
      = link_to 'Edit', edit_group_path(@group), class: "button"

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form-box
        =f.text_field :content, class: 'form-box__message', placeholder: 'type a message'
        .form-box__mask
          = f.label :image, class: "form-box__mask__image" do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form-box__submit'
